In [1]:
import numpy as np
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from pandas import Timestamp
import warnings
warnings.filterwarnings('ignore')
plt.style.use('ggplot')

In [2]:
df=pd.read_csv('/Users/USER/Pictures/dog.csv')
df

,Best in show?,Unnamed: 1,largest value,Unnamed: 3,Unnamed: 4,160,87,"$26,686",Unnamed: 8,Unnamed: 9,...,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74
0,we rated 87 dog breeds,NaN,smallest value,NaN,NaN,1,1,"$15,792",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sources - see bottom right,NaN,category,NaN,datadog score,POPULARITY IN US,POPULARITY IN US,"LIFETIME COST, $",5 LIFETIME COST,NaN,...,"toys, presents, treats, per year, £","pet sitters, per year, £","grooming, per year, £","vet fees per year, £","kennels per year, £","one offs, $",NaN,NaN,NaN,NaN
2,Dog breed,NaN,American Kennel Club group,NaN,NaN,"1- 173, 1 = most poular, US. American Kennel C...",ranking within breeds with full data only,NaN,"in descending rank (higher score = better), n...",NaN,...,averaged across all dog breeds. pet food exclu...,NaN,NaN,NaN,NaN,"Initial outlay: leash, collar, ID tag; food di...",NaN,NaN,NaN,NaN
3,Border Collie,NaN,herding,NaN,3.64,45,39,"$20,143",48.00%,NaN,...,121,126,244,177,116,200,NaN,NaN,NaN,NaN
4,Border Terrier,NaN,terrier,NaN,3.61,80,61,"$22,638",14.00%,NaN,...,121,126,244,177,116,200,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,Weimaraner,NaN,sporting,NaN,NaN,32,NaN,no data,NaN,NaN,...,121,126,244,177,116,200,NaN,NaN,NaN,NaN
173,Welsh Terrier,NaN,terrier,NaN,NaN,99,NaN,no data,NaN,NaN,...,121,126,244,177,116,200,NaN,NaN,NaN,NaN
174,Wire Fox Terrier,NaN,terrier,NaN,NaN,100,NaN,no data,NaN,NaN,...,121,126,244,177,116,200,NaN,NaN,NaN,NaN
175,Wirehaired Pointing Griffon,NaN,sporting,NaN,NaN,92,NaN,no data,NaN,NaN,...,121,126,244,177,116,200,NaN,NaN,NaN,NaN
176,Xoloitzcuintli,NaN,non-sporting,NaN,NaN,155,NaN,no data,NaN,NaN,...,121,126,244,177,116,200,NaN,NaN,NaN,NaN

# data cleaning

In [3]:
pd.set_option('display.max_columns', None)
df.head()

,Best in show?,Unnamed: 1,largest value,Unnamed: 3,Unnamed: 4,160,87,"$26,686",Unnamed: 8,Unnamed: 9,80,Unnamed: 11,16.50,Unnamed: 13,9,Unnamed: 15,"2,680",Unnamed: 17,"$1,349",Unnamed: 19,3,Unnamed: 21,3.1,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,"21,657",Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74
0,we rated 87 dog breeds,NaN,smallest value,NaN,NaN,1,1,"$15,792",NaN,NaN,1,NaN,7.56,NaN,0,NaN,288,NaN,$270,NaN,1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"13,101",NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sources - see bottom right,NaN,category,NaN,datadog score,POPULARITY IN US,POPULARITY IN US,"LIFETIME COST, $",5 LIFETIME COST,NaN,1 INTELLIGENCE (TRAINABILITY) ranking,INTELLIGENCE (TRAINABILITY) ranking,2 LONGEVITY,LONGEVITY,3 NO. OF GENETIC AILMENTS,GENETIC AILMENTS,"4a average purchase price, US$","average purchase price, US$","4b food costs per year, US$","food costs per year, US$",5a grooming required,grooming required,5b suitability for children,suitability for children,NaN,ULTIMATE TOP DOG MEGA SCORE (with kids),ULTIMATE TOP DATA DOG MEGA RANKING - without kids,ULTIMATE TOP DATA DOG MEGA RANKING - with kids,ULTIMATE TOP DOG MEGA SCORE,POPULAR RATING,NaN,size category,weight (kg),weight (lbs),shoulder height (cm),shoulder height (in),NaN,note,source,link,intelligence category,repetitions to understand new commands,obey first command (% of time),longevity sample size - survey sample size,GENETIC DISEASES - congenital ailments: summar...,congenital ailments: summary / areas affected,exclude?,most abandoned?,NaN,"4 LIFETIME COST, $",4 LIFETIME COST,average purchase price (US $),price bracket,lowest (US$),highest (US$),"food per week, average, £","min, £","max, £","food per week, $","food per year, $","food per lifetime, $",NaN,"Other regular costs, total per lifetime, $","total per year, $","total, per year, £","toys, presents, treats, per year, £","pet sitters, per year, £","grooming, per year, £","vet fees per year, £","kennels per year, £","one offs, $",NaN,NaN,NaN,NaN
2,Dog breed,NaN,American Kennel Club group,NaN,NaN,"1- 173, 1 = most poular, US. American Kennel C...",ranking within breeds with full data only,NaN,"in descending rank (higher score = better), n...",NaN,1 = easiest to train / learn new commands,"in descending rank (higher score = better), n...","years, weighted average - see note",in ascending rank order (higher score = better...,serious only,0 = 100% ... 9 = 0%,"mean, from puppyfind.com",reverse ranked percentile,NaN,reverse ranked percentile,once every.. 1=day. 2=week 3=few weeks,"once every few weeks 100%, week 75%, day 50%",1 - highly suitable. 2 - medium suitability. 3...,"100% = highly suitable, 50% = medum, 0% = low",NaN,intelligence + longevity + ailments + cost sco...,NaN,NaN,intelligence + longevity + ailments + 50% (pur...,"pure breeds, American Kennel Club 2011",NaN,NaN,"mean of 'ideal' range for breed, mean of dogs ...",NaN,NaN,NaN,NaN,popularity ranking: some breeds not included. ...,NaN,NaN,NaN,NaN,NaN,<20 = not trustworthy,only serious + common for breed,only serious + common for breed,X = exclude,no data,NaN,NaN,"in descending rank (higher score = better), n...","mean, from puppyfind.com",NaN,NaN,NaN,NaN,NaN,NaN,converted to US $ using Google Finance,NaN,food per week x 52.1775 x average lifespan (co...,NaN,"if no average lifespan data, then 'no data'",converted to US $ using Google Finance,NaN,averaged across all dog breeds. pet food exclu...,NaN,NaN,NaN,NaN,"Initial outlay: leash, collar, ID tag; food di...",NaN,NaN,NaN,NaN
3,Border Collie,NaN,herding,NaN,3.64,45,39,"$20,143",48.00%,NaN,1,100%,12.52,79%,2,78%,$623,71%,$324,68%,2,75%,3,0.00%,NaN,4.02,1,29,3.64,45,NaN,medium,no data,no data,51,20,NaN,NaN,NaN,NaN,Brightest,<5,>95,164,"eye problems, deafness","Collie eye anomaly, deafness",NaN,NaN,NaN,"16,658",47%,623,budget,175,1050,4,4,4,5.10,266,"3,329",NaN,"12,506",999,784,121,126,244,177,116,200,NaN,NaN,NaN,NaN
4,Border Terrier,NaN,terrier,NaN,3.61,80,61,"$22,638",14.00%,NaN,30,70%,14.00,98%,0,100%,$833,44%,$324,68%,2,75%,1,100%,NaN,4.99,2,1,3.61,80,NaN,small,6,13.5,no data,no data,NaN,NaN,NaN,NaN,Above average,15-25,>70,177,none,none,NaN,NaN,NaN,"18,741",11%,833,mid-price,250,1200,4,4,4,5.10,266,"3,723",NaN,"13,985",999,784,121,126,244,177,116,200,NaN,NaN,NaN,NaN

# RENAMING THE HEADER

In [4]:
df1 = df.rename(columns={'Best in show?': 'Dog breed',
                        'largest value': 'Category', '160': 'Popularity Ranking', '$26,686': 'Lifetime Cost', '80':'TRAINABILITY',
                         '16.50': 'LONGEVITY', 'Unnamed: 4':'dog score', '9':'NO. OF GENETIC AILMENTS', '2,680':'Avg price(USA)',
                         '$1,349':'food costs per year', '3':'grooming required', '3.1':'suitability for children', 'Unnamed: 25':'intelligence + longevity + ailments + cost',
                         'Unnamed: 26':'TOP DATA DOG MEGA RANKING (without kids)', 'Unnamed: 27':'TOP DATA DOG MEGA RANKING (with kids)',
                         'Unnamed: 28':'intelligence + longevity + ailments + 50% purchase', 'Unnamed: 29':'POPULAR RATING','Unnamed: 31':'Size',
                         'Unnamed: 32':'weight (kg)', 'Unnamed: 33':'weight (lbs)','Unnamed: 34':'shoulder height (cm)', 'Unnamed: 35':'shoulder height (in)',
                         'Unnamed: 40':'Intelligence', 'Unnamed: 44':'GENETIC DISEASES', '21,657':'LIFETIME COST', 'Unnamed: 51':'average purchase price (US $)',
                         'Unnamed: 52':'price bracket', 'Unnamed: 53':'Lowest Price Sold', 'Unnamed: 54':'Highest Price Sold','Unnamed: 55':'food per week',
                         'Unnamed: 59':'food per year','Unnamed: 60':'food per lifetime','Unnamed: 62':'Other regular costs per lifetime',
                         'Unnamed: 68':'vet fees per year', 'Unnamed: 23':'suitability % for children', 'Unnamed: 58': 'Food per week'
                    })
df1

,Dog breed,Unnamed: 1,Category,Unnamed: 3,dog score,Popularity Ranking,87,Lifetime Cost,Unnamed: 8,Unnamed: 9,TRAINABILITY,Unnamed: 11,LONGEVITY,Unnamed: 13,NO. OF GENETIC AILMENTS,Unnamed: 15,Avg price(USA),Unnamed: 17,food costs per year,Unnamed: 19,grooming required,Unnamed: 21,suitability for children,suitability % for children,Unnamed: 24,intelligence + longevity + ailments + cost,TOP DATA DOG MEGA RANKING (without kids),TOP DATA DOG MEGA RANKING (with kids),intelligence + longevity + ailments + 50% purchase,POPULAR RATING,Unnamed: 30,Size,weight (kg),weight (lbs),shoulder height (cm),shoulder height (in),Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Intelligence,Unnamed: 41,Unnamed: 42,Unnamed: 43,GENETIC DISEASES,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,LIFETIME COST,Unnamed: 50,average purchase price (US $),price bracket,Lowest Price Sold,Highest Price Sold,food per week,Unnamed: 56,Unnamed: 57,Food per week,food per year,food per lifetime,Unnamed: 61,Other regular costs per lifetime,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,vet fees per year,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74
0,we rated 87 dog breeds,NaN,smallest value,NaN,NaN,1,1,"$15,792",NaN,NaN,1,NaN,7.56,NaN,0,NaN,288,NaN,$270,NaN,1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"13,101",NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sources - see bottom right,NaN,category,NaN,datadog score,POPULARITY IN US,POPULARITY IN US,"LIFETIME COST, $",5 LIFETIME COST,NaN,1 INTELLIGENCE (TRAINABILITY) ranking,INTELLIGENCE (TRAINABILITY) ranking,2 LONGEVITY,LONGEVITY,3 NO. OF GENETIC AILMENTS,GENETIC AILMENTS,"4a average purchase price, US$","average purchase price, US$","4b food costs per year, US$","food costs per year, US$",5a grooming required,grooming required,5b suitability for children,suitability for children,NaN,ULTIMATE TOP DOG MEGA SCORE (with kids),ULTIMATE TOP DATA DOG MEGA RANKING - without kids,ULTIMATE TOP DATA DOG MEGA RANKING - with kids,ULTIMATE TOP DOG MEGA SCORE,POPULAR RATING,NaN,size category,weight (kg),weight (lbs),shoulder height (cm),shoulder height (in),NaN,note,source,link,intelligence category,repetitions to understand new commands,obey first command (% of time),longevity sample size - survey sample size,GENETIC DISEASES - congenital ailments: summar...,congenital ailments: summary / areas affected,exclude?,most abandoned?,NaN,"4 LIFETIME COST, $",4 LIFETIME COST,average purchase price (US $),price bracket,lowest (US$),highest (US$),"food per week, average, £","min, £","max, £","food per week, $","food per year, $","food per lifetime, $",NaN,"Other regular costs, total per lifetime, $","total per year, $","total, per year, £","toys, presents, treats, per year, £","pet sitters, per year, £","grooming, per year, £","vet fees per year, £","kennels per year, £","one offs, $",NaN,NaN,NaN,NaN
2,Dog breed,NaN,American Kennel Club group,NaN,NaN,"1- 173, 1 = most poular, US. American Kennel C...",ranking within breeds with full data only,NaN,"in descending rank (higher score = better), n...",NaN,1 = easiest to train / learn new commands,"in descending rank (higher score = better), n...","years, weighted average - see note",in ascending rank order (higher score = better...,serious only,0 = 100% ... 9 = 0%,"mean, from puppyfind.com",reverse ranked percentile,NaN,reverse ranked percentile,once every.. 1=day. 2=week 3=few weeks,"once every few weeks 100%, week 75%, day 50%",1 - highly suitable. 2 - medium suitability. 3...,"100% = highly suitable, 50% = medum, 0% = low",NaN,intelligence + longevity + ailments + cost sco...,NaN,NaN,intelligence + longevity + ailments + 50% (pur...,"pure breeds, American Kennel Club 2011",NaN,NaN,"mean of 'ideal' range for breed, mean of dogs ...",NaN,NaN,NaN,NaN,popularity ranking: some breeds not included. ...,NaN,NaN,NaN,NaN,NaN,<20 = not trustworthy,only serious + common for breed,only serious + common for breed,X = exclude,no data,NaN,NaN,"in descending rank (higher score = better), n...","mean, from puppyfind.com",NaN,NaN,NaN,NaN,NaN,NaN,converted to US $ using Google Finance,NaN,food per week x 52.1775 x average lifespan (co...,NaN,"if no average lifespan data, then 'no data'",converted to US $ using Google Finance,NaN,averaged across all dog breeds. pet food exclu...,NaN,NaN,NaN,NaN,"Initial outlay: leash, collar, ID tag; food di...",NaN,NaN,NaN,NaN
3,Border Collie,NaN,herding,NaN,3.64,45,39,"$20,143",48.00%,NaN,1,100%,12.52,79%,2,78%,$623,71%,$324,68%,2,75%,3,0.00%,NaN,4.02,1,29,3.64,45,NaN,medium,no data,no data,51,20,NaN,NaN,NaN,NaN,Brightest,<5,>95,164,"eye problems, deafness","Collie eye anomaly, deafness",NaN,NaN,NaN,"16,658",47%,623,budget,175,1050,4,4,4,5.10,266,"3,329",NaN,"12,506",999,784,121,126,244,177,116,200,NaN,NaN,NaN,NaN
4,Border Terrier,NaN,terrier,NaN,3.61,80,61,"$22,638",14.00%,NaN,30,70%,14.00,98%,0,100%,$833,44%,$324,68%,2,75%,1,100%,NaN,4.99,2,1,3.61,80,NaN,small,6,13.5,no data,no data,NaN,NaN,NaN,NaN,Above average,15-25,>70,177,none,none,NaN,NaN,NaN,"18,741",11%,833,mid-price,250,1200,4,4,4,5.10,266,"3,723",NaN,"13,985",999,784,121,126,244,177,116,200,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,Weimaraner,NaN,sporting,NaN,NaN,32,NaN,no data,NaN,NaN,21,NaN,no data,NaN,1,NaN,$562,NaN,NaN,NaN,2,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,large,no data,no data,64,25,NaN,NaN,NaN,NaN,Excellent,5-15,>85,-,hip problems,hip dysplasia,NaN,NaN,NaN,no data,NaN,562,budget,300,900,5.75,4,7.5,7.33,NaN,no data,NaN,no data,999,784,121,126,244,177,116,200,NaN,NaN,NaN,NaN
173,Welsh Terrier,NaN,terrier,NaN,NaN,99,NaN,no data,NaN,NaN,53,NaN,no data,NaN,0,NaN,$843,NaN,NaN,NaN,2,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,small,9,20,38,15,NaN,NaN,NaN,NaN,Average,25-40,>50,-,none,none,NaN,NaN,NaN,no data,NaN,843,mid-price,575,1250,4,4,4,5.10,NaN,no data,NaN,no data,999,784,121,126,244,177,116,200,NaN,NaN,NaN,NaN
174,Wire Fox Terrier,NaN,terrier,NaN,NaN,100,NaN,no data,NaN,NaN,51,NaN,13.17,NaN,0,NaN,$668,NaN,NaN,NaN,-,NaN,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,small,8,17.5,38,15,NaN,Longevity: All fox terriers. Should not exceed...,NaN,NaN,Average,25-40,>50,44,none,none,NaN,NaN,NaN,no data,NaN,668,budget,175,1600,no data,no data,no data,no data,NaN,no data,NaN,"13,155",999,784,121,126,244,177,116,200,NaN,NaN,NaN,NaN
175,Wirehaired Pointing Griffon,NaN,sporting,NaN,NaN,92,NaN,no data,NaN,NaN,46,NaN,8.80,NaN,0,NaN,$755,NaN,NaN,NaN,-,NaN,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,medium,no data,no data,56,22,NaN,NaN,NaN,NaN,Average,25-40,>50,16,none,none,NaN,NaN,NaN,no data,NaN,755,mid-price,750,800,no data,no data,no data,no data,NaN,no data,NaN,"8,790",999,784,121,126,244,177,116,200,NaN,NaN,NaN,NaN
176,Xoloitzcuintli,NaN,non-sporting,NaN,NaN,155,NaN,no data,NaN,NaN,no data,NaN,no data,NaN,no data,NaN,$717,NaN,NaN,NaN,-,NaN,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,medium,no data,no data,42,16.5,NaN,NaN,NaN,NaN,no data,no data,no data,-,no data,no data,NaN,NaN,NaN,no data,NaN,717,mid-price,300,"2,000",no data,no data,no data,no data,NaN,no data,NaN,no data,999,784,121,126,244,177,116,200,NaN,NaN,NaN,NaN

# DROPPING THE FIRST 3 ROWS

In [5]:
df1 = df1.drop([0,1,2], axis=0)
df1

,Dog breed,Unnamed: 1,Category,Unnamed: 3,dog score,Popularity Ranking,87,Lifetime Cost,Unnamed: 8,Unnamed: 9,TRAINABILITY,Unnamed: 11,LONGEVITY,Unnamed: 13,NO. OF GENETIC AILMENTS,Unnamed: 15,Avg price(USA),Unnamed: 17,food costs per year,Unnamed: 19,grooming required,Unnamed: 21,suitability for children,suitability % for children,Unnamed: 24,intelligence + longevity + ailments + cost,TOP DATA DOG MEGA RANKING (without kids),TOP DATA DOG MEGA RANKING (with kids),intelligence + longevity + ailments + 50% purchase,POPULAR RATING,Unnamed: 30,Size,weight (kg),weight (lbs),shoulder height (cm),shoulder height (in),Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Intelligence,Unnamed: 41,Unnamed: 42,Unnamed: 43,GENETIC DISEASES,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,LIFETIME COST,Unnamed: 50,average purchase price (US $),price bracket,Lowest Price Sold,Highest Price Sold,food per week,Unnamed: 56,Unnamed: 57,Food per week,food per year,food per lifetime,Unnamed: 61,Other regular costs per lifetime,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,vet fees per year,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74
3,Border Collie,NaN,herding,NaN,3.64,45,39,"$20,143",48.00%,NaN,1,100%,12.52,79%,2,78%,$623,71%,$324,68%,2,75%,3,0.00%,NaN,4.02,1,29,3.64,45,NaN,medium,no data,no data,51,20,NaN,NaN,NaN,NaN,Brightest,<5,>95,164,"eye problems, deafness","Collie eye anomaly, deafness",NaN,NaN,NaN,"16,658",47%,623,budget,175,1050,4,4,4,5.10,266,"3,329",NaN,"12,506",999,784,121,126,244,177,116,200,NaN,NaN,NaN,NaN
4,Border Terrier,NaN,terrier,NaN,3.61,80,61,"$22,638",14.00%,NaN,30,70%,14.00,98%,0,100%,$833,44%,$324,68%,2,75%,1,100%,NaN,4.99,2,1,3.61,80,NaN,small,6,13.5,no data,no data,NaN,NaN,NaN,NaN,Above average,15-25,>70,177,none,none,NaN,NaN,NaN,"18,741",11%,833,mid-price,250,1200,4,4,4,5.10,266,"3,723",NaN,"13,985",999,784,121,126,244,177,116,200,NaN,NaN,NaN,NaN
5,Brittany,NaN,sporting,NaN,3.54,30,30,"$22,589",16.00%,NaN,19,80%,12.92,89%,0,100%,$618,72%,$466,23%,2,75%,2,50.00%,NaN,4.42,3,11,3.54,30,NaN,medium,16,35,48,19,NaN,NaN,NaN,NaN,Excellent,5-15,>85,28,none,none,NaN,NaN,NaN,"18,662",14%,618,budget,300,1200,5.75,4,7.5,7.33,382,"4,939",NaN,"12,906",999,784,121,126,244,177,116,200,NaN,NaN,NaN,NaN
6,Cairn Terrier,NaN,terrier,NaN,3.53,59,48,"$21,992",22.00%,NaN,35,61%,13.84,95%,2,78%,$435,95%,$324,68%,2,75%,1,100%,NaN,4.91,4,2,3.53,59,NaN,small,6,14,25,10,NaN,NaN,NaN,NaN,Above average,15-25,>70,156,"'lion jaw', heart problems","Craniomandibular osteopathy (""lion jaw""), Mitr...",NaN,NaN,NaN,"18,140",23%,435,budget,300,600,4,4,4,5.10,266,"3,680",NaN,"13,825",999,784,121,126,244,177,116,200,NaN,NaN,NaN,NaN
7,Welsh Springer Spaniel,NaN,sporting,NaN,3.34,130,81,"$20,224",47.00%,NaN,31,69%,12.49,77%,1,89%,$750,55%,$324,68%,2,75%,1,100%,NaN,4.71,5,4,3.34,130,NaN,medium,no data,no data,46,18,NaN,only one dog for sale,NaN,NaN,Above average,15-25,>70,172,hip problems,hip dysplasia,NaN,NaN,NaN,"16,748",46%,750,mid-price,750,750,4,4,4,5.10,266,"3,321",NaN,"12,476",999,784,121,126,244,177,116,200,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,Weimaraner,NaN,sporting,NaN,NaN,32,NaN,no data,NaN,NaN,21,NaN,no data,NaN,1,NaN,$562,NaN,NaN,NaN,2,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,large,no data,no data,64,25,NaN,NaN,NaN,NaN,Excellent,5-15,>85,-,hip problems,hip dysplasia,NaN,NaN,NaN,no data,NaN,562,budget,300,900,5.75,4,7.5,7.33,NaN,no data,NaN,no data,999,784,121,126,244,177,116,200,NaN,NaN,NaN,NaN
173,Welsh Terrier,NaN,terrier,NaN,NaN,99,NaN,no data,NaN,NaN,53,NaN,no data,NaN,0,NaN,$843,NaN,NaN,NaN,2,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,small,9,20,38,15,NaN,NaN,NaN,NaN,Average,25-40,>50,-,none,none,NaN,NaN,NaN,no data,NaN,843,mid-price,575,1250,4,4,4,5.10,NaN,no data,NaN,no data,999,784,121,126,244,177,116,200,NaN,NaN,NaN,NaN
174,Wire Fox Terrier,NaN,terrier,NaN,NaN,100,NaN,no data,NaN,NaN,51,NaN,13.17,NaN,0,NaN,$668,NaN,NaN,NaN,-,NaN,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,small,8,17.5,38,15,NaN,Longevity: All fox terriers. Should not exceed...,NaN,NaN,Average,25-40,>50,44,none,none,NaN,NaN,NaN,no data,NaN,668,budget,175,1600,no data,no data,no data,no data,NaN,no data,NaN,"13,155",999,784,121,126,244,177,116,200,NaN,NaN,NaN,NaN
175,Wirehaired Pointing Griffon,NaN,sporting,NaN,NaN,92,NaN,no data,NaN,NaN,46,NaN,8.80,NaN,0,NaN,$755,NaN,NaN,NaN,-,NaN,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,medium,no data,no data,56,22,NaN,NaN,NaN,NaN,Average,25-40,>50,16,none,none,NaN,NaN,NaN,no data,NaN,755,mid-price,750,800,no data,no data,no data,no data,NaN,no data,NaN,"8,790",999,784,121,126,244,177,116,200,NaN,NaN,NaN,NaN
176,Xoloitzcuintli,NaN,non-sporting,NaN,NaN,155,NaN,no data,NaN,NaN,no data,NaN,no data,NaN,no data,NaN,$717,NaN,NaN,NaN,-,NaN,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,medium,no data,no data,42,16.5,NaN,NaN,NaN,NaN,no data,no data,no data,-,no data,no data,NaN,NaN,NaN,no data,NaN,717,mid-price,300,"2,000",no data,no data,no data,no data,NaN,no data,NaN,no data,999,784,121,126,244,177,116,200,NaN,NaN,NaN,NaN

# DROPPING THE UNNECESSARY COLUMNS

In [6]:
df2 = df1.drop(['Unnamed: 1','Unnamed: 3','dog score', '87', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 11', 'Unnamed: 13',
               'Unnamed: 15','Unnamed: 17','NO. OF GENETIC AILMENTS', 'food costs per year',
               'Unnamed: 19', 'Unnamed: 21', 'suitability for children', 'Unnamed: 24', 'intelligence + longevity + ailments + cost',
               'TOP DATA DOG MEGA RANKING (without kids)', 'TOP DATA DOG MEGA RANKING (with kids)',
               'intelligence + longevity + ailments + 50% purchase', 'POPULAR RATING', 'Unnamed: 30', 'weight (kg)',
               'weight (lbs)', 'shoulder height (cm)', 'shoulder height (in)', 'Unnamed: 36', 'Unnamed: 37',
               'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'GENETIC DISEASES',
               'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'LIFETIME COST', 'Unnamed: 50',
               'price bracket', 'food per week', 'Unnamed: 56',
               'Unnamed: 57', 'food per year', 'food per lifetime', 'Unnamed: 61', 'Other regular costs per lifetime',
               'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65', 'Unnamed: 66', 'Unnamed: 67',
               'vet fees per year', 'Unnamed: 69', 'Unnamed: 70', 'Unnamed: 71', 'Unnamed: 72', 'Unnamed: 73',
               'Unnamed: 74', 'average purchase price (US $)'], axis=1)
df2

,Dog breed,Category,Popularity Ranking,Lifetime Cost,TRAINABILITY,LONGEVITY,Avg price(USA),grooming required,suitability % for children,Size,Intelligence,Lowest Price Sold,Highest Price Sold,Food per week
3,Border Collie,herding,45,"$20,143",1,12.52,$623,2,0.00%,medium,Brightest,175,1050,5.10
4,Border Terrier,terrier,80,"$22,638",30,14.00,$833,2,100%,small,Above average,250,1200,5.10
5,Brittany,sporting,30,"$22,589",19,12.92,$618,2,50.00%,medium,Excellent,300,1200,7.33
6,Cairn Terrier,terrier,59,"$21,992",35,13.84,$435,2,100%,small,Above average,300,600,5.10
7,Welsh Springer Spaniel,sporting,130,"$20,224",31,12.49,$750,2,100%,medium,Above average,750,750,5.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,Weimaraner,sporting,32,no data,21,no data,$562,2,NaN,large,Excellent,300,900,7.33
173,Welsh Terrier,terrier,99,no data,53,no data,$843,2,NaN,small,Average,575,1250,5.10
174,Wire Fox Terrier,terrier,100,no data,51,13.17,$668,-,NaN,small,Average,175,1600,no data
175,Wirehaired Pointing Griffon,sporting,92,no data,46,8.80,$755,-,NaN,medium,Average,750,800,no data
176,Xoloitzcuintli,non-sporting,155,no data,no data,no data,$717,-,NaN,medium,no data,300,"2,000",no data

In [7]:
df2.columns = df2.columns.str.replace(' ', '_') # Replacing the space(s) each column
df2

,Dog_breed,Category,Popularity_Ranking,Lifetime_Cost,TRAINABILITY,LONGEVITY,Avg_price(USA),grooming_required,suitability_%_for_children,Size,Intelligence,Lowest_Price_Sold,Highest_Price_Sold,Food_per_week
3,Border Collie,herding,45,"$20,143",1,12.52,$623,2,0.00%,medium,Brightest,175,1050,5.10
4,Border Terrier,terrier,80,"$22,638",30,14.00,$833,2,100%,small,Above average,250,1200,5.10
5,Brittany,sporting,30,"$22,589",19,12.92,$618,2,50.00%,medium,Excellent,300,1200,7.33
6,Cairn Terrier,terrier,59,"$21,992",35,13.84,$435,2,100%,small,Above average,300,600,5.10
7,Welsh Springer Spaniel,sporting,130,"$20,224",31,12.49,$750,2,100%,medium,Above average,750,750,5.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,Weimaraner,sporting,32,no data,21,no data,$562,2,NaN,large,Excellent,300,900,7.33
173,Welsh Terrier,terrier,99,no data,53,no data,$843,2,NaN,small,Average,575,1250,5.10
174,Wire Fox Terrier,terrier,100,no data,51,13.17,$668,-,NaN,small,Average,175,1600,no data
175,Wirehaired Pointing Griffon,sporting,92,no data,46,8.80,$755,-,NaN,medium,Average,750,800,no data
176,Xoloitzcuintli,non-sporting,155,no data,no data,no data,$717,-,NaN,medium,no data,300,"2,000",no data

In [8]:
df2.to_excel('Updated_dogAnalysis.xlsx')

In [9]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174 entries, 3 to 176
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Dog_breed                   174 non-null    object
 1   Category                    172 non-null    object
 2   Popularity_Ranking          172 non-null    object
 3   Lifetime_Cost               172 non-null    object
 4   TRAINABILITY                172 non-null    object
 5   LONGEVITY                   172 non-null    object
 6   Avg_price(USA)              172 non-null    object
 7   grooming_required           172 non-null    object
 8   suitability_%_for_children  87 non-null     object
 9   Size                        172 non-null    object
 10  Intelligence                172 non-null    object
 11  Lowest_Price_Sold           172 non-null    object
 12  Highest_Price_Sold          172 non-null    object
 13  Food_per_week               172 non-null    object
dtypes: object(14)
memory usage: 19.2+ KB

In [10]:
df2.isnull().sum()# to check for null value

Dog_breed                      0
Category                       2
Popularity_Ranking             2
Lifetime_Cost                  2
TRAINABILITY                   2
LONGEVITY                      2
Avg_price(USA)                 2
grooming_required              2
suitability_%_for_children    87
Size                           2
Intelligence                   2
Lowest_Price_Sold              2
Highest_Price_Sold             2
Food_per_week                  2
dtype: int64

# # EDA...Exploratory data analysis

In [13]:
df2

,Dog_breed,Category,Popularity_Ranking,Lifetime_Cost,TRAINABILITY,LONGEVITY,Avg_price(USA),grooming_required,suitability_%_for_children,Size,Intelligence,Lowest_Price_Sold,Highest_Price_Sold,Food_per_week
3,Border Collie,herding,45,"$20,143",1,12.52,$623,2,0.00%,medium,Brightest,175,1050,5.10
4,Border Terrier,terrier,80,"$22,638",30,14.00,$833,2,100%,small,Above average,250,1200,5.10
5,Brittany,sporting,30,"$22,589",19,12.92,$618,2,50.00%,medium,Excellent,300,1200,7.33
6,Cairn Terrier,terrier,59,"$21,992",35,13.84,$435,2,100%,small,Above average,300,600,5.10
7,Welsh Springer Spaniel,sporting,130,"$20,224",31,12.49,$750,2,100%,medium,Above average,750,750,5.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,Weimaraner,sporting,32,no data,21,no data,$562,2,NaN,large,Excellent,300,900,7.33
173,Welsh Terrier,terrier,99,no data,53,no data,$843,2,NaN,small,Average,575,1250,5.10
174,Wire Fox Terrier,terrier,100,no data,51,13.17,$668,-,NaN,small,Average,175,1600,no data
175,Wirehaired Pointing Griffon,sporting,92,no data,46,8.80,$755,-,NaN,medium,Average,750,800,no data
176,Xoloitzcuintli,non-sporting,155,no data,no data,no data,$717,-,NaN,medium,no data,300,"2,000",no data